@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-custom-bg text-primary font-geist font-light;
}

::selection {
  background: #0070f044;
}

.degradedBlue {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  padding: 5px 0;
}
.btn {
  @apply border border-secondary text-primary rounded-full py-2 px-6 lg:px-9 font-normal hover:bg-[#0070f027] transition-hover;
}

.transition-hover {
  @apply transition-all duration-300 ease-in-out;
}

.background-full-fixed {
  @apply fixed h-full w-full bg-black z-[-1];
}

.grid-pattern-overlay {
  @apply absolute bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#8080800a_1px,transparent_1px)] bg-[size:14px_24px];
}

.radial-effect {
  @apply absolute left-0 right-0 top-[-10%] h-[1000px] w-[1000px] rounded-full bg-[radial-gradient(circle_400px_at_50%_300px,#0070f03d,#000)];
}
