@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-custom-bg text-primary font-geist;
}

::selection {
  background: #6de4e8;
}

.degradedBlue {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  padding: 5px 0;
}
.btn {
  @apply bg-secondary text-primary rounded-full py-2 px-6 lg:px-9 font-normal hover:bg-[#0070f0d7] transition-hover;
}

.transition-hover {
  @apply transition-all duration-300 ease-in-out;
}
